.generator {
   display: flex;
   /* border: 2px solid pink; */
   margin: 3em;
   height: 40em;
   justify-content: center;
   font-family: 'Caveat' ;
}

.generator-container {
   /* border: 2px solid violet; */
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   height: 28em;
   width: 60em;
   margin: 2em;
   /* padding: -2em; */
}

.generator-button {
   margin-top: 1em;
   border: 2px solid #349BBC;
   background-color: #349BBC;
   color: white;
   /* border: 1px solid orange; */
   width: 10em;
   height: 2.3em;
   border-radius: 6px;
   /* padding-top: 1em; */
}

.qr-name {
   font-size: 3em;
}

.qr-input {
   border-color: grey;
   border-radius: 5px;
   margin-top: -1em;
   height: 2em;
   width: 15em;
}

.qr-image-container {
   /* border: 2px solid green; */
   padding: 2em;
   /* background-color: black; */
}

.qr-image {
   display: block;
      width: 350px;
      height: 350px;
      border-radius: 1em;
      /* background-color: white; */
      /* margin: 2rem auto; */
}

