.generator {
   /* display: flex; */
   /* border: 2px solid blue; */
   margin: 3em;
   /* height: ; */
   justify-content: center;
   font-family: 'Caveat' ;
}

.generator-main {
   display: flex;
   /* border: 2px solid pink; */
   justify-content: space-evenly;
   flex-wrap: wrap;
   height: 100%;
}

.generator-web-container {
   border: 1px solid #D3D3D3;
   background-color: #F5F5F5;
   width: 15em;
   height: 15em;
   margin: 2em;
   border-radius: 10px;
   text-align: center;
}

.generator-card-container {
   border: 1px solid #D3D3D3;
   background-color: #F5F5F5;
   text-align: center;
   width: 15em;
   height: 15em;
   margin: 2em;
   border-radius: 10px;
}

.generator-soon-container {
   border: 1px solid #D3D3D3;
   background-color: #F5F5F5;
   text-align: center;
   width: 15em;
   height: 15em;
   margin: 2em;
   border-radius: 10px;
}



.generator-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 28em;
   width: 60em;
   margin: 2em;
}

.generator-button {
   margin-top: 1em;
   border: 2px solid #349BBC;
   background-color: #349BBC;
   color: white;
   width: 10em;
   height: 2.3em;
   border-radius: 6px;
}

.qr-name {
   font-size: 3em;
}

.qr-input {
   border-color: grey;
   border-radius: 5px;
   margin-top: -1em;
   height: 2em;
   width: 15em;
}

.qr-image-container {
   padding: 2em;
}

.qr-image {
   display: block;
      width: 350px;
      height: 350px;
      border-radius: 1em;
      margin-bottom: .5em;
}

