.home {
   /* border: 2px solid red; */
   width: 100%;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   /* align-items: center; */
   height: 100%;
   padding-top: 5em;
}

.transfer-animation{
   filter: drop-shadow(-1px 1px 2px orange);
   /* font-size: 3em; */
}

.home-container {
   /* border: 2px solid salmon; */
   height: 30em;
   position: inherit;
   text-align: center;
   /* padding-top: 3em; */
   /* line-height: 30em; */
}

.home-container-2 {
   /* border: 2px solid red; */
   /* width: 93%; */
   position: inherit;
   margin-top: 3em;
   height: 10em;
   padding-left: 2em;
   background-color: orange;
   font-size: 50px;
}

