.home {
   /* border: 2px solid red; */
   width: 100%;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   /* align-items: center; */
   height: 100%;
   padding-top: 5em;
}

.transfer-animation{
   filter: drop-shadow(-1px 1px 2px orange);
   /* border: 2px solid orange; */
   /* font-size: 3em; */
}

.home-text {
   /* border: 2px solid orange; */
   order: 2;
   flex-grow: 5;
   padding-top: 3em;
   height: 35em;
}

.home-container {
   display: flex;
   justify-content: center;
   position: inherit;
   text-align: center;
}

.home-container-2 {
   border: 2px solid black;
   /* border-radius: 1em; */
   position: inherit;
   margin-top: 3em;
   height: 20em;
   justify-content: space-between;
   /* padding: 3em; */
   margin-left: 4em;
   margin-right: 4em;
   /* background-color: rgba(255, 165, 0, 0.50); */
   font-size: 30px;
   display:flex;
}

.home-container-2a {
   border: 2px solid white;
   padding: 3em;
   /* height: 15em; */
   border-radius: 1em;
   background-color: rgb(255, 165, 0);
}

.home-container-2b {
   border: 2px solid black;
   border-radius: 1em;
   /* margin-left: 3em; */
   padding: 5em;
   background-color: rgb(255, 165, 0);
}

.qrCode {
   /* border: 2px solid black; */
   padding-top: -2em;
   padding-left: 5em;
   /* background-color: orange; */
   animation-name: qrCode;
}


.home-button-container {
   /* border: 2px solid salmon; */
   margin-top: 2em;
   height: 10em;
   text-align: center;
   padding: 15em;
}

.home-button {
   width: 14em;
   height: 3.7em;
   background-color: white;
   border-radius: 1em;
   margin-top: 2em;
   border: 1.5px solid #349BBC;
   filter: drop-shadow(2px 1px 2px #349BBC)
   /* font-family: 'Courier New', Courier, monospace; */
}

